* {
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: 'Lucida Sans Unicode';
    src: url('fonts/lucida_sans_unicode_regular-webfont.eot');
    src: url('fonts/lucida_sans_unicode_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lucida_sans_unicode_regular-webfont.woff2') format('woff2'),
         url('fonts/lucida_sans_unicode_regular-webfont.woff') format('woff'),
         url('fonts/lucida_sans_unicode_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: Arial;
}
 header {
	position: relative;
	background: #fff; /*#FFE4E1;*/
	width: 909px;
	height: 500px;
	margin: 0 auto;
}

.numbers{
	font-family: Arial, sans-serif;
	font-size: 20px;
	
}
.menu1{                        /*верхнее меню*/
display:inline-block;
	position: absolute;
    top: 17px;
    left: 313px;
	background: -moz-linear-gradient(#1f6685,#0d3458);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1f6685), to(#0d3458));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f6685', endColorstr='#0d3458'); /* Цвет фона */
    color: #fff; /* Цвет текста */
   	
   -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
-moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);

    border-radius: 3px; /* Уголки */
	width: 495px;
	height: 27px;
	line-height: 27px;
   }
   
div input {
	height: 16px; 
	width: 113px;
	/*line-height: 11px;*/
	
 
	
}   
.menu1 a {

 display:inline-block;
 list-style:none; 
 color: #ffffff;
 /*font-size: 12px;*/
 font-family: "Lucida Sans Unicode", Arial;
 text-decoration: none;
 padding-top: 0px;
 
}
 .menu1 a:hover {
       color: #bfbfbf; 
	   text-decoration: underline;	
    }
.login {
	position: absolute;
    top: 5px;
    right: 355px;
	line-height: 12px;
	font-size: 11px;
	border: 1px;
	padding: 0px;
}
	.parol {
		position: absolute;
        top: 5px;
        right: 235px;
		font-size: 11px;
		line-height: 10px;
		border: 1px;
	    padding: 0px;
	}
	
	.vhod {
	position: absolute;
    top: 0px;
    right: 195px;
	padding-left: 6px;
	letter-spacing: 0px;
    font-size: 11px;
}
.reg {
	font-size: 11px;
	position: absolute;
    top: 0px;
    right: 123px;
}
.zab {
	position: absolute;
    top: 0px;
    right: 5px;
	letter-spacing: 1px;
	font-size: 11px;
}
	
	
	
	
	
	
	.letter {
		padding: 0 0 0 0;
		margin: 0 0 0 4px;
		width: 20px;
        height: 22px;
	}
	
	.karta {
		
		margin-left: 4px;
		 width: 20px;
         height: 22px;
	}
	
	.home {
		margin-left: 0px;
		
		 width: 20px;
         height: 22px;
	}
	
	
	
 .menu2 {
	position: absolute;
	
 top: 19px;
right: 6px;  /* Правая верхняя кнопка*/
	
	background-color: #fff;
	
 /*  -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
-moz-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);*/
    border: 1px solid grey;
    border-radius: 12px; /* Уголки */
	width: 76px;
	height: 19px;

   }
 
.menu2 a {

 display:inline-block;

}
 .menu2 a:hover {
	 background-color: yellow;
 }
 .img1 {
	position: absolute;
    top: 22px;
    left: 320px;	   /*Силуэт*/
 }
	
.tel {
	position: absolute;   /*Кружок с трубкой*/
    top: 22px;
    left: 7px;	 
 }

 .numbers {
	
	font-family: Arial, sans-serif;
	font-size: 18px;     
	color: grey;
 }
 .numbers1 {
	position: absolute;
    top: 23px;
    left: 32px;	 
 }
 .numbers2 {
	 position: absolute;
    top: 23px;
    left: 168px;	 
 }
.banner {
	 position: absolute;
	 width: 909px;
     height: 237px;
	 top: 54px;
     left: 0px;
 }

 
 /*  ______________________ КОНЕЦ БЛОКА, КОТОРЫЙ КАК-ТО СДЕЛАН ___________________________________________*/
 
 
 
 #menu3 {         
    position: absolute; /* полоса*/

	 top: 297px;
     left: 0px;
   }
 .menu4{
   position: absolute;   /*меню на полосе*/
   top: 299px;
    left: 123px;	 
   /* border-radius: 12px; /* Уголки */
/*	height: 29px;*/

   }
 .comp{
	 padding-left: 4px;
 }  
 .opl {
	  padding-left: 2px;
 }
 .dos {
	 padding-left: 4px;
 }
 .art {
	 padding-left: 3px;
 }
 .cont {
	 padding-left: 3px;
 }
 
.menu4 a {
    
 display:inline-block;
 text-align: center;
 
 list-style:none; 
 text-decoration: none;
 vertical-align: middle;
 font-family: "Lucida Sans Unicode";
 font-size: 13px;
 
 height: 31px;
 line-height: 31px;
 color: #b1bcc0;
 padding-left: 20px;
 padding-right: 12px;
}

 .menu4 a:hover {
 background-color: #1f6685; 
  border-radius: 12px;
height: 31px;
 text-align: center;
 line-height: 31px;
 list-style:none; 
 text-decoration: none;
 vertical-align: middle;
 font-size: 13px;
/* height: 31px;*/
 color: #ffffff;
 }

 
 
 
	.kosh1 {
	 position: absolute;
	 top: 305px;
     right: 205px;
 }
 
 
 .oo {
	 position: absolute;
	 top: 299px;
     right: 14px;
	 color: #0d5a8f;
	 padding: 0px;
	 line-height: 31px;
	  font-family: Arial;
	 font-size: 12px;
 }
 .ooo {
	position: absolute;
	 top: 305px;
     right: 153px;
	 color: #b1bcc0;
	 
	 line-height: 17px;
	 font-family: Arial;
	 font-size: 11px;
 }
.o {
	position: absolute;
	 top: 306px;
     right: 142px;
	 color: #0d5a8f;
	 line-height: 17px;
	 font-family: Arial;
	 font-size: 13px;
 }	
 .oooo {
	position: absolute;
	 top: 305px;
     right: 75px;
	 color: #b1bcc0;
	 
	 line-height: 17px;
	 font-family: Arial;
	 font-size: 11px;
 }	
	
	
	#ffff {
		
	position: absolute;
	 top: 493px;
     right: 0px;	
		
		
	}
.vertL{                                                              /*     Left Sidebar*/
	background-color: #fff;
-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);

    border-radius: 12px; /* Уголки */
    border: 1px solid grey;
	width: 181px;
	height: 25px;
	font-size: 12px;
    line-height:25px;

   }
 .leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 1px 0px 1px 4px; /* Отступы вокруг картинки */
	
   }
	.vertL  {
		margin-top: 5px;
		margin-bottom: 15px;
		
	}
	
	
	.vertL1{
	
	background-color: #fff;


    border-radius: 12px; /* Уголки */
    border: 1px solid grey;
	width: 150px;
	height: 28px;
	font-size: 12px;
    line-height:28px;

   }
	
	.sb1 {
	   list-style: none;
   }
   
   .sb1 ul li{
	   
	  display: block;
      width: 119px;
	  height: 19px;
	  font-size: 12px;
      line-height:19px;
      padding: 5px;	
      text-decoration: none; 
   }
  
   .sb1 ul li:hover {
	  font-size: 15px;
      color: red;
      text-decoration: underline;
	  
	  
	  
	  
   }
   
   #str{
	  
   }
  
	
	
	
.content {
	
	background-color: white;
	border-radius: 10px; 
	float: left;
	width: 528px;
	height: 628px;
}

.gradient {
    background: #94a7b0; /* Для старых браузров */
    background: linear-gradient(to top, #94a7b0, #e4e7e8);
   }
   
  .sign {float: left; /* Выравнивание по правому краю */
   /* border: 2px solid #333; /* Параметры рамки */
    padding: 10px 17px;                                  /* Поля внутри блока */
    margin: 0px 0px 0px 0px;  /* Отступы вокруг */
   background: transparent; /* Цвет фона */
    text-align: center; /* Выравнивание по центру */
   }
  main {
	/*  background-color: #EE82EE;*/
	
	  width: 526px;
	  height: 628px;
	  margin: 0 auto;
  }
  .whiteBlock {
	  background-color: #ffffff;
	   border-radius: 7px; /* Уголки */
	   width: 137px;             /*размер белых квадратов*/
	  height: 124px;
	  border: 1px solid #b0b9bc;
	  padding-top: 0px;
	  margin-top: -3px;
	  padding-bottom: 3px;
	  margin-left: 5px;
	  margin-right: 0px; 
  }
   
   
.sidebar1 {
	background-color: yellow;
	float: left;
	width: 190px;
	height: 628px;
}
.sidebar2 {
	background-color: red;
	float: right;
	width: 191px;
	height: 628px;
}
.gal {
	margin-left: -45px; /* отступ чекбоксов от края сайдбара2*/
	margin-top: 4px;    /* отступ чекбоксов друг от друга*/
	margin-bottom: 4px;
}

.check {
	margin-left: -15px; /* отступ подписи от чекбокса*/
	
}

.new {
		/*position:absolute;
		top: 512px;
        left: 206px;*/
		width: 80px;
        height: 27px;
    background: -moz-linear-gradient(#0d3458, #1f6787);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#0d3458), to(#1f6787));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d3458', endColorstr='#1f6787');
    padding: 0px 0px;
    color: #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #2e7ac4;
	
	margin-left: 40px; /* отступ кнопки от края сайдбара2*/
	margin-top: 40px;    
	
	
   }

   .new:focus  {
		background: #1b5288;
		-webkit-box-shadow: 0px 0px 4px 3px rgba(73,132,172,0.79);
-moz-box-shadow: 0px 0px 4px 3px rgba(73,132,172,0.79);
box-shadow: 0px 0px 4px 3px rgba(73,132,172,0.79);

cursor: pointer;
	}
   
 .new:hover  {
		background: #1b5288;
		-webkit-box-shadow: 0px 0px 4px 3px rgba(73,132,172,0.79);
-moz-box-shadow: 0px 0px 4px 3px rgba(73,132,172,0.79);
box-shadow: 0px 0px 4px 3px rgba(73,132,172,0.79);

cursor: pointer;
	}



.container {
	
	width: 909px;
	height: 628px;
	margin: 0 auto;
	
}


.clearfix:after{
	content: " ";
	clear: both;
	display: block;
	
	
}


.firm {
	display:inline-block;
	margin: 0 auto;
	width: 910px;
	height: 90px;
}

/*.firm {
	display:block; 
	margin:0 auto;
	}*/
.firm img{
	padding-top: 30px;       /* положение фирм*/
	padding-left: 117px;
}
	
.footer {
display:inline-block;
   background-color: #213a4d;
	width: 910px;
	height: 100px;
	margin: 0 auto;
}